{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/css/base_styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/header_styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/home_styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/post_styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/profile_styles.css' %}">

    <title>{{ title }}</title>
</head>
<body>
    <div class="wrapper">
        <header>
        {% include 'header.html' %}
        </header>

        <div class="sidebar">
        {% include 'sidebar.html' %}
        </div>

        <div class="main">
        {% block content %}

        {% endblock %}
        </div>
    </div>
</body>
</html>